@charset "UTF-8";


/** Footer **/
.footer{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-links {
  padding-left: 0;
  margin-bottom: 0px;
}

.footer-links li {
  display: inline-block;
}