<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community">
	<insert id="insertCommunity" parameterType="com.duospace.community.community.Community">
		 INSERT INTO commainboard (boardnum,subject, content, CATEGORYNUM, membernum)
			VALUES(seq_commainboard.NEXTVAL, #{subject} , #{content} , #{categorynum} ,#{membernum});
	</insert>
	
	
</mapper>