<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commoim">

	<!-- 모임가입 -->
	<insert id="insertAccept" parameterType="map">
		INSERT INTO moimmember (memberNum,cmoimCode) VALUES (#{memberNum},#{cmoimCode})
	</insert>
	
	<!-- 가입확인을위한. -->
	<select id="countAccept" parameterType="map" resultType="Integer">
	   SELECT COUNT(*) FROM moimmember WHERE memberNum = #{memberNum} and cmoimcode = #{cmoimCode}
	</select>
	
	<!-- 모임 생성 -->
	<insert id="insertCommoim" parameterType="com.duospace.community.commoim.Commoim">
		INSERT INTO commoim(cmoimcode,comname,isopen,catecode,regcode,membernum)
			VALUES(seq_commoim.NEXTVAL,#{comname},#{isopen},#{catecode},#{regcode},#{memberNum})
	</insert>
	
	<!-- 모임 리스트 -->
	<select id="listCommoim" parameterType="map" 
		resultType="com.duospace.community.commoim.Commoim">
        SELECT c.cmoimCode, comname, isopen, TO_CHAR(created,'YYYY-MM-DD') created, c.catecode, c.regcode, 
        	c.memberNum,NVL(moimcount, 0) moimcount
        	FROM commoim c 
        	JOIN member2 m ON c.membernum = m.membernum
        	LEFT OUTER JOIN (
            	SELECT cmoimcode,COUNT(*) moimcount 
            	FROM moimmember 
            	GROUP BY cmoimcode
       	 	) cnt ON c.cmoimCode = cnt.cmoimCode
     	WHERE c.memberNum=#{memberNum}
      	ORDER BY cmoimcode DESC
	</select>

</mapper>