<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commoim">

	<!-- 모임가입 -->
	<insert id="insertAccept" parameterType="map">
		INSERT INTO moimmember (memberNum,cmoimCode) VALUES (#{memberNum},#{cmoimCode})
	</insert>
	
	<!-- 가입확인을위한. -->
	<select id="countAccept" parameterType="map" resultType="Integer">
	   SELECT COUNT(*) FROM moimmember WHERE memberNum = #{memberNum} and cmoimcode = #{cmoimCode}
	</select>
	
	<!-- 모임생성 시퀀스 -->
	<select id="cmoimSeq" resultType="Integer">
		SELECT seq_commoim.NEXTVAL  FROM dual
	</select>
	<!-- 모임 생성 --><!-- 모임생성하기전에 시퀀스를 불러온다. -->
	<insert id="insertCommoim" parameterType="com.duospace.community.commoim.Commoim">
		INSERT INTO commoim(cmoimcode,comname,isopen,catecode,moimimg,regcode,membernum)
			VALUES(#{cmoimCode},#{comname},#{isopen},#{catecode},#{moimimg},#{regcode},#{memberNum})
	</insert>
	
	<!-- 나의모임 리스트 -->
	<select id="listCommoim" parameterType="map" 
		resultType="com.duospace.community.commoim.Commoim">
		SELECT c.cmoimCode, comname, isopen, TO_CHAR(created,'YYYY-MM-DD') created, c.catecode, c.regcode, 
	        c.memberNum,NVL(membercount, 0) membercount ,moimimg
	        FROM commoim c 
	        JOIN (SELECT cmoimCode FROM  moimmember WHERE memberNum=#{memberNum}) mm ON c.cmoimCode = mm.cmoimCode
	        LEFT OUTER JOIN (
	            SELECT cmoimcode, COUNT(*) membercount 
	            FROM moimmember 
	            GROUP BY cmoimcode
	        ) cnt ON c.cmoimCode = cnt.cmoimCode
		ORDER BY cmoimcode DESC
	</select>
	
	<!-- 전체모임 리스트 -->
	<select id="list" parameterType="map" resultType="com.duospace.community.commoim.Commoim">
	 SELECT c.cmoimCode, comname, isopen, TO_CHAR(created,'YYYY-MM-DD') created, c.catecode, c.regcode, 
        	c.memberNum,NVL(memberCount, 0) memberCount, moimimg
        	FROM commoim c 
        	JOIN member2 m ON c.membernum = m.membernum
        	LEFT OUTER JOIN (
            	SELECT cmoimcode,COUNT(*) memberCount 
            	FROM moimmember 
            	GROUP BY cmoimcode
       	 	) cnt ON c.cmoimCode = cnt.cmoimCode
      	ORDER BY cmoimcode DESC
	</select>
	<!-- 모임 보기 -->
	<select id="readcmoim" resultType="com.duospace.community.commoim.Commoim" parameterType="Integer">
		SELECT cmoimCode,comname,isopen,created,cateCode,REGCODE,memberNum
	    FROM COMMOIM
	    WHERE cmoimCode=#{cmoimCode}
	</select>
	
	<!-- 나의 가입수 -->
	<select id="dataCount" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM moimmember
        WHERE memberNum =#{memberNum}
	</select>
	
	<!-- 모임 전체 수 -->
	<select id="dataCountAll" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM commoim
	</select>
	
	<!-- 지역 리스트 -->
	<select id="comregionlist" resultType="com.duospace.community.commoim.Commoim">
		SELECT REGCODE,REGIONNAME FROM COMREGION 
	</select>
	<!-- 카테고리 리스트 -->
	<select id="comcategorylist" resultType="com.duospace.community.commoim.Commoim">
		SELECT CATECODE,CATEGORYNAME FROM COMCATEGORY
	</select>
	
</mapper>