<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commaincate">
	<!-- 분류 생성 -->
	<insert id="insertcommaincate" parameterType="com.duospace.community.commaincate.Commaincate">
		INSERT INTO comMainCate(cateNum,BoardName)
	   	 	VALUES(seq_comMainCate.NEXTVAL, #{boardName})
	</insert>
	
	
	<!-- 분류 개수 -->
	<select id="dataCountCommaincate" parameterType="map" resultType="Integer">
	 SELECT NVL(COUNT(*), 0) FROM commaincate 
	</select>
	
	<!-- 분류 리스트 -->
	<select id="listcommaincate" parameterType="map" resultType="com.duospace.community.commaincate.Commaincate">
		SELECT cateNum,BoardName
		FROM commaincate
		ORDER BY boardName ASC
	</select>
	
	<!-- 분류안에 제목리스트 -->
	<select id="listcommainboard" parameterType="map" resultType="com.duospace.community.commaincate.Commaincate">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT c.catenum, c.created, boardNum, subject, hitCount, boardName
		        FROM COMMAINBOARD b
		        RIGHT OUTER JOIN commaincate c ON b.cateNum=c.cateNum
		        WHERE c.catenum=#{cateNum}
		        ORDER BY boardNum DESC
			) tb WHERE ROWNUM &lt;=5
		) WHERE rnum &gt;=1
</select>	
	
</mapper>