<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duospace.notice">
	<insert id="created" parameterType="com.duospace.duospace.notice.Notice">
		INSERT INTO duonotice (num, subject, content, savefilename, originalfilename, notice)
		VALUES (seq_duonotice.NEXTVAL,#{subject},#{content},#{saveFilename, jdbcType=VARCHAR}
				,#{originalFilename, jdbcType=VARCHAR}, #{notice})
	</insert>
	
	<sql id="where-list">
	  <if test="searchKey=='subject'">
	  	INSTR (subject,#{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	    DBMS_LOB.INSTR(content,#{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='created'">
	    TO_CHAR(created,'YYYY-MM-DD') = #{searchValue} 
	    OR TO_CHAR(created,'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>
	
	<!-- 공지글 갯수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM duonotice
		<where>
		  <if test="searchValue!=NULL and searchValue!=''">
		    <include refid="where-list"/>
		  </if>
		</where>
	</select>
	
	<!-- 공지글 리스트 -->
	<select id="list" parameterType="map" resultType="com.duospace.duospace.notice.Notice">
		SELECT * FROM(
			SELECT ROWNUM rnum, tb.* FROM
			(SELECT num, subject, content,hitcount, savefilename, notice,TO_CHAR(created,'YYYY-MM-DD') created
			 FROM duonotice
			 <where>
				<if test="searchValue!=null and searchValue !=''">
				  <include refid="where-list"/>
				</if>			 
			 </where>
			 ORDER BY num DESC
			)tb 
<![CDATA[			
			WHERE ROWNUM <= #{end}
		)WHERE rnum >= #{start}
]]>
	</select>
	
	
	<!-- 공지올리기 -->
	<select id="listNotice" resultType="com.duospace.duospace.notice.Notice">
		SELECT  num, subject, content,hitcount, savefilename, notice,TO_CHAR(created,'YYYY-MM-DD') created
		FROM duonotice
		WHERE notice=1
		ORDER BY num
	</select>
	
	<!-- 글보기 -->
	<select id="readNotice" parameterType="Integer" resultType="com.duospace.duospace.notice.Notice">
		SELECT num, subject, content,hitcount, savefilename, notice,TO_CHAR(created) created,originalfilename 
		FROM duonotice
		WHERE num=#{num}
	</select>
	
	<!-- 조회수증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE duonotice SET hitCount=hitCount+1 WHERE num=#{num}
	</update>
	
	<!-- 이전글(현재글보다 최근) 가져오기 -->
	<select id="preDto" parameterType="Map" resultType="com.duospace.duospace.notice.Notice">
	  SELECT tb.* FROM(
		SELECT num,subject
		FROM duonotice
		<where>
			<if test="searchValue !=null and searchValue !=''">
			  <include refid="where-list"/>
			</if>
		
		<![CDATA[
		  AND (num>#{num})
		 ]]>
		 </where>
		ORDER BY num )tb
		WHERE ROWNUM=1
	
	</select>
	
	
	<!-- 다음글(현재글보다 나중) 가져오기 -->
	<select id="nextDto" parameterType="Map" resultType="com.duospace.duospace.notice.Notice">
	  SELECT tb.* FROM(
		SELECT num,subject
		FROM duonotice
		<where>
			<if test="searchValue !=null and searchValue !=''">
			  <include refid="where-list"/>
			</if>
		
		<![CDATA[
		  AND (num<#{num})
		 ]]>
		 </where>
		ORDER BY num DESC
		)tb WHERE ROWNUM=1
	
	</select>
	
	
	
	<!-- 공지사항수정 -->
	<update id="updateNotice" parameterType="com.duospace.duospace.notice.Notice">
		UPDATE duonotice SET subject=#{subject}, content=#{subject}, savefilename=#{saveFilename, jdbcType=VARCHAR}, 
							 notice=#{notice},originalfilename=#{originalFilename, jdbcType=VARCHAR}
							 WHERE num=#{num} 
	</update>
	
	
	<delete id="deleteNotice" parameterType="Integer">
		DELETE FROM duonotice WHERE num=#{num}
	</delete>
	
	<delete id="deleteList" parameterType="java.util.List">
		DELETE FROM duonotice WHERE num IN 
		  <foreach collection="list" item="num" index="index" open="(" separator="," close=")">
		  	#{num}
		  </foreach>
	</delete>
	
</mapper>












