<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.reserve">

<sql id="where-date">
	<if test="startDate!=NULL and startDate !='' and endDate !=null and endDate !=''">
		(	(startdate BETWEEN TO_DATE(#{startDate},'YYYY/MM/DD') AND  TO_DATE(#{endDate},'YYYY/MM/DD'))  
		OR  (enddate  BETWEEN TO_DATE(#{startDate},'YYYY/MM/DD')  AND  TO_DATE(#{endDate},'YYYY/MM/DD'))
		)
	</if>
	<if test="startDate != NULL and startDate !='' and (endDate ==null or endDate =='')">
		startDate = TO_DATE(#{startDate},'YYYY/MM/DD') 
	</if>
	<if test="endDate !=null and endDate !='' and (startDate ==null or startDate =='')">
		endDate = TO_DATE(#{endDate},'YYYY/MM/DD')
	</if>

</sql>
<sql id="where-list">
	<if test="searchKey=='userName'">
		INSTR(userName,#{searchValue}) &gt; 0
	</if>
	<if test="searchKey=='spotName'">
		INSTR(spotName,#{searchValue}) &gt; 0
	</if>
	<if test="searchKey=='roomName'">
		INSTR(roomName,#{searchValue}) &gt; 0
	</if>
</sql>

<select id="dataCount" parameterType="map" resultType="Integer">
 	SELECT COUNT(*)
    FROM reserv r1
    JOIN rmres r2 ON r1.reservnum=r2.reservnum
    JOIN room ro ON ro.roomcode=r2.roomcode
    JOIN floor f ON f.floornum=ro.floornum
    JOIN spot s ON s.spotcode=f.spotcode
    <where>
		<if test="searchValue !=NULL and searchValue!=''">
			<include refid="where-list"/>
		</if>
		 
		<if test="! ((startDate==NULL or startDate =='')and(endDate ==null or endDate ==''))">
		  <include refid="where-date"/>
		</if>
	</where>
</select>


<select id="reserveRoomList" parameterType="map" resultType="com.duospace.admin.reserve.Reserve">
	 SELECT * FROM (
		SELECT ROWNUM rnum, tb.* FROM(
			 SELECT r1.reservnum,membernum,NVL(signspot,0) signspot,rmresnum,TO_CHAR(startdate,'YYYY/MM/DD') startDate,
			 	TO_CHAR(enddate,'YYYY/MM/DD')endDate,userName,
		        r2.roomcode,roomname,ro.floornum, floorname, 
		        f.spotcode, spotname
			FROM reserv r1
			JOIN rmres r2 ON r1.reservnum=r2.reservnum
			JOIN room ro ON ro.roomcode=r2.roomcode
			JOIN floor f ON f.floornum=ro.floornum
			JOIN spot s ON s.spotcode=f.spotcode
	<where>
		<if test="searchValue !=NULL and searchValue!=''">
			<include refid="where-list"/>
		</if>
		 
		<if test="! ((startDate==NULL or startDate =='')and(endDate ==null or endDate ==''))">
				<include refid="where-date"/>
		</if>
	</where>
			)tb
<![CDATA[
		WHERE ROWNUM <= #{end}
	)WHERE rnum >= #{start}
]]>	
</select>


<delete id="deleteRmres" parameterType="Integer">
	DELETE FROM rmres WHERE rmresNum=#{rmresNum}
</delete>

<select id="readReservNum" parameterType="Integer" resultType="Integer">
	SELECT reservNum FROM rmres WHERE rmresNum=#{rmresNum}
</select>

<delete id="deleteReserv" parameterType="Integer">
	DELETE FROM reserv WHERE reservNum=#{reservNum}
</delete>
</mapper>