<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duospace.seat">
	<sql id="where-list">
		<if test="searchKey=='spotName'">
			INSTR(spotName,#{searchValue}) &gt; 0
		</if>
		<if test="searchKey=='region'">
			INSTR(region,#{searchValue}) &gt; 0
		</if>
	</sql>


	<select id="spot_list" resultType="com.duospace.admin.seat.Seat">
		SELECT spotCode, spotName, region FROM spot
	</select>

	<select id="floorList" parameterType="Integer" resultType="com.duospace.admin.seat.Seat">       
		SELECT tb.* FROM(
			SELECT ROW_NUMBER() OVER (PARTITION BY f.floorNum ORDER BY created desc) rnum, 
			f.floorNum fnum, floorName,spotCode,NVL(placecode,0) placeCode,created
			FROM floor f
			LEFT OUTER JOIN placement p ON f.floornum=p.floornum
			WHERE spotCode=#{spotCode}
			)tb 
			WHERE rnum=1
	</select>
	
	<insert id="insertPlacement" parameterType="map">
		INSERT INTO placeMent (placeCode, placeMent, floorNum) VALUES (seq_placeMent.NEXTVAL,#{placeMent},#{floorNum})
	</insert>
	
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) 
		<where>
			<if test="searchValue !=null and searchValue !=''">
				<include refid="where-list"/>
			</if>
		</where>
		FROM placement
	</select>
	
	
	<select id="placementList" parameterType="map" resultType="com.duospace.admin.seat.Seat">
		SELECT distinct s.spotCode, spotName,region 
 		FROM placement p
        JOIN floor f ON p.floornum=f.floornum
        JOIN spot s ON f.spotcode=s.spotcode
	</select>
	
	<select id="readSpot" parameterType="Integer" resultType="com.duospace.admin.seat.Seat">
		SELECT distinct s.spotCode, spotName,region 
 		FROM placement p
        JOIN floor f ON p.floornum=f.floornum
        JOIN spot s ON f.spotcode=s.spotcode
        WHERE s.spotcode=#{spotCode}
	</select>
	
	<select id="readPlacement" parameterType="Integer" resultType="com.duospace.admin.seat.Seat">
		SELECT ROWNUM,placecode,placement,floornum,created
		FROM placement 
		WHERE ROWNUM=1 AND placeCode=#{placeCode}
		ORDER BY created DESC
	</select>
	
	
	
	
	
</mapper>











