<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duospace.room">
	<sql id="where-list">
		<if test="searchKey=='roomCode'">
	  	roomCode=#{searchValue}
	  </if>
	  <if test="searchKey=='roomName'">
	  	INSTR (roomName,#{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='rcontent'">
	    INSTR(rcontent,#{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='spotName'">
	    INSTR(spotName,#{searchValue}) &gt; 0
	  </if>
	</sql>
	
	<insert id="insert" parameterType="com.duospace.admin.room.Room">
		INSERT INTO room(roomCode, roomName, floorNum,
						 price, rcontent, saveFileName) 
		VALUES(SEQ_ROOM.NEXTVAL, #{roomName}, #{floorNum},
			 #{price}, #{rcontent}, #{saveFileName, jdbcType=VARCHAR})
	</insert>
	<select id="readroom" parameterType="map" resultType="com.duospace.admin.room.Room">
		SELECT roomCode, roomName, floorNum, price, rcontent, saveFileName
		FROM ROOM
		WHERE
		roomCode=#{roomCode}
	</select>
	
	<select id="list" parameterType="map" resultType="com.duospace.admin.room.Room">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT r.roomCode, roomName, f.floorNum, price, rcontent, saveFileName, f.floorName, s.spotCode, s.spotName
					FROM room r
					JOIN floor f ON r.floorNum = f.floorNum
                    JOIN spot s ON f.spotCode= s.spotCode
                    <where>
					<if test="searchValue!=null and searchValue!=''">
						<include refid="where-list"/>
					</if>
					</where>
						ORDER BY roomCode DESC
					)tb
<![CDATA[
					WHERE ROWNUM <=#{end}
				)WHERE rnum >=#{start}
]]>					
	</select>
	
	<select id="slist" parameterType="map" resultType="com.duospace.admin.room.Room">
		SELECT spotCode, spotName FROM spot	
	</select>
	<select id="flist" parameterType="map" resultType="com.duospace.admin.room.Room">
		SELECT floorNum, floorName FROM floor
	</select>
	<select id="listFloor" parameterType="Integer" resultType="com.duospace.admin.room.Room">
		SELECT floorNum, floorName, spotCode FROM floor 
		WHERE spotCode=#{spotCode}
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM room
		<where>
		  <if test="searchValue!=NULL and searchValue!=''">
		    <include refid="where-list"/>
		  </if>
		</where>
	</select>
	
	
</mapper>