<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duospace.spot">
	<insert id="insert" parameterType="com.duospace.admin.spot.Spot">
		INSERT INTO spot (spotCode, spotName, spotAddrNum,
		 spotAddr1, spotAddr2, Manager, Tel) VALUES(SEQ_SPOT.NEXTVAL, #{spotName}, #{spotAddrNum},
		  #{spotAddr1}, #{spotAddr2}, #{Manager}, #{Tel});
	</insert>
</mapper> 