<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duospace.qna">

	<select id="maxNum" resultType="Integer">
		SELECT NVL(MAX(num),0) FROM sc
	</select>

	<insert id="insert" parameterType="com.duospace.duospace.qna.Qna">
		INSERT INTO sc (num,subject,content,membernum,answer,qnacode,groupNum)
		VALUES (#{num},#{subject},#{content},#{memberNum},#{answer},#{qnaCode},#{groupNum})
	</insert>

	<sql id="where-list">
	  <if test="searchKey=='subject'">
	  	INSTR (subject,#{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	    DBMS_LOB.INSTR(content,#{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='created'">
	    TO_CHAR(created,'YYYY-MM-DD') = #{searchValue} 
	    OR TO_CHAR(created,'YYYYMMDD') = #{searchValue}
	  </if>
	  <if test="searchKey=='email'">
	  	email=#{searchValue}
	  </if>
	  <if test="searchKey=='name'">
	  	name=#{searchValue}
	  </if>
	</sql>


	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM sc
			<where>
				<if test="searchValue!=null and searchValue !=''">
				  <include refid="where-list"/>
				  <if test="searchCode!=null and searchCode !=''">
					AND qnaCode=#{searchCode}
				  </if>
				</if>
				<if test="searchValue ==null or searchValue ==''">
				  <if test="searchCode!=null and searchCode !=''">
					 qnaCode=#{searchCode}
				  </if>
				</if>			 
			 </where>
			 
	</select>
	
	
	<select id="list" parameterType="map" resultType="com.duospace.duospace.qna.Qna">
		SELECT * FROM(
			SELECT ROWNUM rnum, tb.* FROM(
				SELECT num,groupNum,content,subject,created,answer,sc.qnacode, qnaname ,m2.membernum,
				        name,email
				FROM sc
				JOIN member2 m2 ON sc.memberNum=m2.memberNum
				JOIN qnacate q ON sc.qnacode=q.qnacode
				<where>
				<if test="searchValue!=null and searchValue !=''">
				  <include refid="where-list"/>
				  <if test="searchCode!=null and searchCode !=''">
					AND sc.qnaCode=#{searchCode}
				  </if>
				</if>
				<if test="searchValue ==null or searchValue ==''">
				  <if test="searchCode!=null and searchCode !=''">
					 sc.qnaCode=#{searchCode}
				  </if>
				</if>			 
			 </where>
				ORDER BY groupNum DESC, num ASC
			)tb
<![CDATA[			
			WHERE ROWNUM <= #{end}
		)WHERE rnum >= #{start}
]]>
	</select>
	
	<select id="readQna" parameterType="Integer" resultType="com.duospace.duospace.qna.Qna">
		SELECT num,content,subject,created,answer,sc.qnacode, m2.membernum,groupNum,
       		 name,email
		FROM sc
		JOIN member2 m2 ON sc.memberNum=m2.memberNum
		
		WHERE num=#{num}
	</select>
	
	<select id="preReadQna" parameterType="map" resultType="com.duospace.duospace.qna.Qna">
		SELECT ROWNUM, tb.* FROM(
			SELECT num, subject
			FROM sc
			<where>
				<if test="searchValue!=null and searchValue !=''">
				  <include refid="where-list"/>
				  <if test="searchCode!=null and searchCode !=''">
					AND qnaCode=#{searchCode}
				  </if>
				</if>
				<if test="searchValue ==null or searchValue ==''">
				  <if test="searchCode!=null and searchCode !=''">
					 qnaCode=#{searchCode}
				  </if>
				</if>	
				
				<![CDATA[
				 AND (groupNum=#{groupNum} AND ANSWER<#{answer}) OR (groupNum > #{groupNum})
				]]>	 
			 </where>
			ORDER BY groupNum asc, answer desc
			)tb
		WHERE ROWNUM=1
	</select>
	
	<select id="nextReadQna" parameterType="map" resultType="com.duospace.duospace.qna.Qna">
		SELECT ROWNUM, tb.* FROM(
			SELECT num, subject
			FROM sc
			<where>
				<if test="searchValue!=null and searchValue !=''">
				  <include refid="where-list"/>
				  <if test="searchCode!=null and searchCode !=''">
					AND qnaCode=#{searchCode}
				  </if>
				</if>
				<if test="searchValue ==null or searchValue ==''">
				  <if test="searchCode!=null and searchCode !=''">
					 qnaCode=#{searchCode}
				  </if>
				</if>	
				<![CDATA[
				 AND (groupNum=#{groupNum} AND ANSWER > #{answer}) OR (groupNum < #{groupNum})
				]]>		 
			 </where>
			ORDER BY groupNum desc, answer ASC
			)tb
		WHERE ROWNUM=1
	</select>

	<update id="update" parameterType="com.duospace.duospace.qna.Qna">
		UPDATE sc SET subject=#{subject}, content=#{content}
		WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM sc WHERE num=#{num}
	</delete>
	
	<delete id="deleteList" parameterType="java.util.List">
		DELETE FROM sc WHERE num IN
		<foreach collection="list" item="num" index="index" open="(" separator="," close=")">
			#{num}
		</foreach>
	</delete>
	
</mapper>









