<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epilogue">
	<insert id="insert" parameterType="com.duospace.duospace.epilogue.epilogue">
		INSERT INTO EPILOGUE reservnum, subject, content, membernum, saveFilename)
			VALUES(#{reservNum}, #{content}, #{membernum}, #{saveFilename, jdbcType=VARCHAR});
	</insert>
</mapper>