<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duospace.reserveSeat">
	
	<!-- 지역리스트 -->
	<select id="regionList"  resultType="com.duospace.duospace.reserve.Reserve">
		SELECT distinct region FROM spot
	</select>
	
	<!-- 지역별 지점리스트 -->
	<select id="spotList" resultType="com.duospace.duospace.reserve.Reserve">
		SELECT spotCode, spotName,region
		FROM spot
	</select>
	


	<!-- 선택한 지점의 층리스트 -->
	<select id="floorList" parameterType="Integer" resultType="com.duospace.duospace.reserve.Reserve">
		SELECT f.floorNum, floorName, f.spotCode, spotName
		FROM floor f
		JOIN spot s ON f.spotCode=s.spotCode
		WHERE f.spotCode=#{spotCode}
		ORDER BY f.floorNum
	</select>
	
	<!-- 이용권 리스트 -->
	<select id="passList" resultType="com.duospace.duospace.reserve.Reserve">
		SELECT passCode, passName,TO_CHAR(passdate,'YYYY-MM-DD hh24:mi') passDate, price
		FROM pass
	</select>
	
	<!-- 선택한 층의 배치도 -->
	<select id="readPlacement" parameterType="Integer" resultType="com.duospace.duospace.reserve.Reserve">
		SELECT placeCode, placement, created, isPlaceUsed, p.floorNum,spotname,floorname
		FROM placement p
		join  floor f on f.FLOORNUM=p.floornum
        join spot s on f.spotcode=s.spotcode
		WHERE p.isPlaceUsed=1 and p.floorNum=#{floorNum}
	</select>
	
	<!-- 배치도좌석 예약 내역 -->
	<select id="reserveList" parameterType="map" resultType="com.duospace.duospace.reserve.Reserve">
		SELECT p.placecode,floornum,s.seatcode,TO_DATE(enddate,'YYYY-MM-DD-hh24-mi') enddate,
	        TO_DATE(startdate,'YYYY-MM-DD-hh24-mi') startdate,stresnum,reservnum, seatname
		FROM placement p
		JOIN seat s on s.placecode=p.placecode
		JOIN stres sr ON sr.seatcode=s.seatcode 
		WHERE ISPLACEUSED=1 and isUsed=1 and floornum=#{floorNum}
				AND ((startdate BETWEEN TO_DATE(#{startTime},'YYYY/MM/DD hh24:mi') 
								   AND  TO_DATE(#{endTime},'YYYY/MM/DD hh24:mi'))  
		        	OR  (enddate  BETWEEN TO_DATE(#{startTime},'YYYY/MM/DD hh24:mi') 
		        					AND  TO_DATE(#{endTime},'YYYY/MM/DD hh24:mi')))
	</select>
	
	<!-- RESERV 테이블에 예약입력 -->
	<select id="seq" resultType="Integer">
		SELECT seq_RESERV.NEXTVAL FROM DUAL
	</select>
	<insert id="insert1" parameterType="map">
		INSERT INTO reserv (reservnum, membernum) VALUES (#{reservNum}, #{memberNum})
	</insert>
	
	
	
	<!-- 선택한 좌석의 좌석코드 가져오기 -->
	<select id="readSeatCode" parameterType="map" resultType="Integer">
		SELECT seatcode FROM seat
		WHERE placeCode=#{placeCode} and isUsed=1 and seatName=#{seatName}
	</select>
	
	<!-- 예약상세 입력 -->
	<insert id="insert2" parameterType="map">
		INSERT INTO stres (stresnum,startDate, endDate, reservnum,seatCode, passCode) 
		VALUES (SEQ_STRES.NEXTVAL, to_date(#{startDate},'yyyy-mm-dd hh24-mi-ss'),to_date(#{endDate},'yyyy-mm-dd hh24-mi-ss'), #{reservNum}, #{seatCode}, #{passCode})
	</insert>
	
</mapper>




