<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeboard">
	<!-- 글쓰기 -->
	<insert id="insertFreeboard" parameterType="com.duospace.community.freeboard.Freeboard">
		INSERT INTO freeboard(boardNum,content,writer,cmoimCode)
       	 	VALUES(SEQ_FREEBOARD.NEXTVAL,#{content},#{writer},#{cmoimCode})
	</insert>
	
	<!-- 글갯수 -->
	<!-- 서비스에서 맵을던지면 파라미터타입 맵을받는다. -->
	<select id="dataCountFreeboard" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*), 0) FROM freeboard WHERE cmoimCode = #{cmoimCode}
	</select>
	
	<!-- 글 리스트 -->
	<select id="listFreeboard" resultType="com.duospace.community.freeboard.Freeboard" parameterType="map" >

		SELECT * FROM(
		    SELECT ROWNUM rnum, tb.*FROM(
		        SELECT  boardNum, content, TO_CHAR(f.created,'YYYY-MM-DD') created, hitcount, writer, f.cmoimcode,m.name
		            FROM freeboard f 
		            JOIN commoim c ON f.cmoimcode = c.cmoimcode
		            JOIN member2 m ON f.writer = m.membernum
		            WHERE f.cmoimCode = #{cmoimCode}
		            ORDER BY boardNum DESC
<![CDATA[	
		    ) tb WHERE ROWNUM <= #{end}
		)WHERE rnum >= #{start}
]]>
	</select>
	
	<!-- 댓글쓰기 -->
	<insert id="insertReply" parameterType="com.duospace.community.freeboard.Reply">
	INSERT INTO FRboardRp(FRboardrpNum, content,boardNum, memberNum,cmoimCode)
	   VALUES (seq_FRboardRp.NEXTVAL,#{content},#{boardNum},#{memberNum},#{cmoimCode})
	</insert>
	
	<!-- 댓글 갯수확인 -->
	<select id="replyDataCount" resultType="Integer" parameterType="map">
	SELECT NVL(COUNT(*), 0)
	        FROM FRboardRp WHERE boardNum=#{boardNum}
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="listReply" resultType="com.duospace.community.freeboard.Reply" parameterType="map">
		SELECT FRboardrpNum, fb.BOARDNUM, fbrp.content, TO_CHAR(fbrp.created,'YYYY-MM-DD') created,
	  		fb.CMOIMCODE, m.MEMBERNUM,m.name,
	  		 NVL(fb.boardNum, 0) boardNumCount
	    FROM FRboardRp fbrp
	    JOIN FREEBOARD fb ON fbrp.BOARDNUM = fb.boardNum
	    JOIN member2 m ON fbrp.memberNum = m.memberNum
	    WHERE fb.boardNum = #{boardNum}
	    ORDER BY FRboardrpNum DESC
	</select>
	
	
</mapper>